* {
  margin: 0;
  padding: 0;
  user-select: none;
}

html {
  background-color: #efefef;
  min-width: 300px;
}

body {
  position: relative;
  width: 100%;
  background-color: #fff;
  border-radius: 5px;
  padding: 10px 15px;
  box-sizing: border-box;
  overflow-x: hidden;
}

@media screen and (min-width: 600px) {
  body {
    width: 325px;
    margin: 0 auto;
  }
}

schema-env {
  width: 80%;
  margin: 0 auto;
}

schema-opts {
  margin-bottom: 10px;
  height: 0;
  transition: height 300ms ease;
}

schema-opts[opts] {
  margin: 5px auto;
  height: 20px;
}

.link-wrap {
  width: 100%;
  position: relative;
}

.link-wrap .title {
  margin: 10px auto 0;
  font-size: 14px;
  color: #999;
  user-select: none;
}

.link {
  white-space: normal;
  font-size: 16px;
  width: 100%;
  box-sizing: border-box;
  transition: height 300ms ease;
  height: 20px;
  cursor: text;
  word-break: break-all;
  border: none;
  resize: none;
}

.link::-webkit-scrollbar {
  display: none;
}

.link.original {
  height: 80px;
  resize: vertical;
  border: 1px dashed grey;
  margin-top: 10px;
}

.link:focus,
.link:hover,
.link.original.modified {
  height: 80px;
}

.btn {
  cursor: pointer;
}

.reset-btn {
  position: absolute;
  right: 0;
  top: 0;
  display: none;
}

.setting-entry {
  position: absolute;
  right: 0;
  top: 0;
  width: 20px;
  height: 20px;
  padding: 15px 15px;
  transition: all 300ms ease;
  cursor: pointer;
}

.setting-entry:hover {
  transform: rotate(120deg) scale(1.2);
}

.setting {
  display: none;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(255, 255, 255, 0.8);
  box-sizing: border-box;
  padding: 10px 15px;
  flex-direction: column;
}

.setting.show {
  display: flex;
}

.schema-wrap {
  flex: 1;
  overflow-y: auto;
}

.save-btn {
  margin: 10px;
  padding: 5px;
  border-radius: 2px;
  text-align: center;
  background-color: #f63;
  color: #fff;
  cursor: pointer;
}